<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>User: Shubham Nakashe here</p>
    <p>contact: <a href={`mailto:s.d.nakashe2002@gmail.com`}>Mail me</a></p>
</body>
</html>