@import './assets/styles/Colors.css';

html {
    scroll-behavior: smooth;
  }
body {
    overflow-x: hidden;
    background-color: var(--secondary-color);
    width: 100vw;

}

body, html {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  width: 100%;
  display: flex;
}

*, *::before, *::after {
  box-sizing: inherit;
}